# Ignore pycharm .idea/ structure
.idea/*

# Any python compiled files
*.pyc

# OS structure file(s)
.DS_Store

# because the connection strings can contain database user/password info, those will be handled more carefully.
databasing/db_conn_strings.py
databasing/redis_conn_strings.py

# any logging
*.log

# Any temporary visualizations
*.html

# Any .txt files that likely contain versions of thresh_dict
thresh_dict.txt
