# anaconda-client==1.4.0
beautifulsoup4==4.4.1
bokeh>=0.12
clyent==1.2.1
cycler==0.10.0
fuzzywuzzy==0.8.2
gevent==1.1.2
greenlet==0.4.10
Lasagne==0.1
matplotlib==1.5.1
numpy==1.10.4
paho-mqtt==1.2
pandas==0.18.0
psycopg2==2.6.1
pyparsing==2.0.3
python-dateutil==2.5.1
python-Levenshtein==0.11.2
pytz==2016.2
PyYAML==3.11
redis==2.10.5
requests==2.9.1
scikit-learn==0.17.1
scikit-neuralnetwork==0.7
scipy==0.17.0
six==1.10.0
SQLAlchemy==1.0.13
Theano==0.8.1
websocket==0.2.1
websocket-client==0.37.0
