anaconda-client==1.4.0
clyent==1.2.2
gevent==1.0.1
greenlet==0.4.10
numpy==1.11.1
paho-mqtt==1.2
pandas==0.18.1
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
requests==2.10.0
scipy==0.18.0
six==1.10.0
SQLAlchemy==1.0.13
websocket==0.2.1
websocket-client==0.34.0
